.is-boxed {
  background: color-bg(body-outer);

  .body-wrap {
    box-shadow: color-bg(body-shadow);
    margin: 0 auto;
    max-width: $container--width-boxed;

    &::before {
      background: color-bg(body);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -10;
    }
  }
}

.body-wrap {
  // Sticky footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.site-content {
  flex: 1 0 auto;
}
