.modal,
.modal::before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;

  &.modal-video {
    .modal-inner {
      max-width: $modal-video--max-width;
      padding: 0;
    }
  }

  &::before,
  .modal-inner {
    display: none;
  }

  &::before {
    background-color: color-bg(modal-outer);
    content: '';
    position: absolute;
  }

  &.is-active {
    display: flex;

    &::before,
    .modal-inner {
      display: block;
    }

    .modal-inner {
      animation: slideUpInModal 0.15s ease-in-out both;
    }

    &::before {
      animation: slideUpInModalBg 0.15s ease-in-out both;
    }
  }
}

.modal-inner {
  background: color-bg(modal);
  margin-left: $container--padding__mobile;
  margin-right: $container--padding__mobile;
  max-height: calc(100vh - #{$modal--outer-padding-v__mobile} * 2);
  max-width: $modal--max-width;
  min-width: $modal--min-width;
  overflow: auto;
  position: relative;
  width: calc(100% - (#{$container--padding__mobile} * 2));
}

.modal-content {
  padding: $modal--inner-padding-v__mobile $modal--inner-padding-h__mobile;
}

.modal-close {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: $modal-close-icon--size;
  outline: 0;
  padding: 0;
  position: absolute;
  right: $modal-close-position;
  top: $modal-close-position;
  width: $modal-close-icon--size;

  &::before,
  &::after {
    background: color-icon(modal);
    border-radius: $modal-close-icon--radius;
    content: '';
    display: block;
    height: $modal-close-icon--thickness;
    left: 50%;
    margin-left: -($modal-close-icon--size * 0.5);
    margin-top: -($modal-close-icon--thickness * 0.5);
    position: absolute;
    top: 50%;
    width: $modal-close-icon--size;
  }

  &::before {
    transform: rotate(225deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background: color-icon(modal-hover);
    }
  }
}

@include media('>medium') {
  .modal-inner {
    margin: 0 auto;
    max-height: calc(100vh - #{$modal--outer-padding-v__desktop} * 2);
  }

  .modal-content {
    padding-bottom: $modal--inner-padding-v__desktop;
    padding-left: $modal--inner-padding-h__desktop;
    padding-right: $modal--inner-padding-h__desktop;
    padding-top: $modal--inner-padding-v__desktop;
  }
}

@keyframes slideUpInModal {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpInModalBg {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
