.wrapper {
  margin-top: 50px;
  padding: 20px;
}

.wrapper img {
  border: 1px solid #ffffff20;
  border-radius: 10px;
  box-shadow:
    0 100px 1000px #ffffff20,
    0 -100px 1000px #0000ff38,
    100px 100px 1000px #ffff0020,
    100px -100px 1000px #ff000020;
  margin: 0 auto;
  max-width: 100%;
}

.wrapper a:hover {
  text-decoration: underline;
}
