.tiles-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -($tiles-items--padding__mobile * 0.5);
  margin-right: -($tiles-items--padding__mobile * 0.5);
  margin-top: -($tiles-items--padding__mobile * 0.5);

  &:last-of-type {
    margin-bottom: -($tiles-items--padding__mobile * 0.5);
  }

  &:not(:last-of-type) {
    margin-bottom: ($tiles-items--padding__mobile * 0.5);
  }

  &.push-left {
    &::after {
      box-sizing: content-box;
      content: '';
      flex-basis: $tiles-item--width;
      height: 0;
      max-width: $tiles-item--width;
      padding-left: $tiles-items--padding__mobile * 0.5;
      padding-right: $tiles-items--padding__mobile * 0.5;
    }
  }
}

.tiles-item {
  box-sizing: content-box;
  flex-basis: $tiles-item--width;
  max-width: $tiles-item--width;
  padding: $tiles-items--padding__mobile * 0.5;

  * {
    box-sizing: border-box;
  }
}

.tiles-item-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: $tiles-item--inner-padding-v $tiles-item--inner-padding-h;
}

@if ($tiles-items--padding__desktop != null) {
  @include media('>medium') {
    .tiles-wrap {
      margin-left: -($tiles-items--padding__desktop * 0.5);
      margin-right: -($tiles-items--padding__desktop * 0.5);
      margin-top: -($tiles-items--padding__desktop * 0.5);

      &:last-of-type {
        margin-bottom: -($tiles-items--padding__desktop * 0.5);
      }

      &:not(:last-of-type) {
        margin-bottom: ($tiles-items--padding__desktop * 0.5);
      }

      &.push-left {
        &::after {
          padding-left: $tiles-items--padding__desktop * 0.5;
          padding-right: $tiles-items--padding__desktop * 0.5;
        }
      }
    }

    .tiles-item {
      padding: $tiles-items--padding__desktop * 0.5;
    }
  }
}
