.cta {
  .section-inner {
    padding-bottom: $cta--padding-b__mobile;
    padding-top: $cta--padding-t__mobile;
  }
}

.cta-slogan {
  margin-bottom: $cta-slogan--padding-v__mobile;
}

@include media(">medium") {
  .cta {
    .section-inner {
      padding-bottom: $cta--padding-b__desktop;
      padding-top: $cta--padding-t__desktop;
    }
  }

  .cta-split {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .cta-slogan {
    margin-bottom: $cta-slogan--padding-v__desktop;

    .cta-split & {
      margin-bottom: 0;
      margin-right: $cta-slogan--padding-h__desktop;
    }
  }
}
