.features-split {
  .section-inner {
    padding-bottom: $features-split--padding-b__mobile;
    padding-top: $features-split--padding-t__mobile;
  }

  .section-header {
    padding-bottom: $features-split-header--padding__mobile;
  }
}

@include media(">medium") {
  .features-split {
    .section-inner {
      padding-bottom: $features-split--padding-b__desktop;
      padding-top: $features-split--padding-t__desktop;
    }

    .section-header {
      padding-bottom: $features-split-header--padding__desktop;
    }
  }
}
