.section-inner {
  padding-bottom: $section--padding__mobile;
  padding-top: $section--padding__mobile;
  position: relative; // To always display inner elements above pseudo decorative stuff
}

.section-header {
  padding-bottom: $section-header--padding__mobile;
}

@include media(">medium") {
  .section-inner {
    padding-bottom: $section--padding__desktop;
    padding-top: $section--padding__desktop;
  }

  .section-header {
    padding-bottom: $section-header--padding__desktop;
  }
}
